.button {
  width: 90px;
  height: 75px;
  border: 0;
  outline: none;    
  font-size: 1rem;
  color: var(--font-color);
}

.button:hover {
  opacity: 0.95;
}

.button_top-operators {
  background-color: var(--top-operator-button-bg-color);
}

.button_numbers {
  background-color: var(--num-button-bg-color);
}

.button_right-side-operators {
  background-color: var(--right-side-operator-button-bg-color);
  color: #fff;
}

@media screen and (max-width: 720px) {
  .button {
    width: 25%;
    font-size: .9rem;
  }
}
