.button {
  width: 25%;
  height: 100%;
  border: 0;
  color: var(--font-color);
  font-size: 1rem;
  outline: none;
}

.button:hover {
  opacity: 0.95;
}

.button_top-operators {
  background-color: var(--top-operator-button-bg-color);
}

.button_numbers {
  background-color: var(--num-button-bg-color);
}

.button_right-side-operators {
  background-color: var(--right-side-operator-button-bg-color);
  color: #fff;
}

@media screen and (max-width: 720px) {
  .button {
    font-size: 0.8rem;
  }
}
