.calc-button {
    width: 90px;
    height: 75px;
    outline: none;    
    font-size: 30px;
    color: var(--font-color);
    border: 1px solid var(--border-color);
}

.calc-button:hover {
    opacity: 0.95;
}

.top-operators-bg {
    background-color: var(--top-operator-button-bg-color);
}

.numbers-bg {
    background-color: var(--num-button-bg-color);
}

.right-side-operators-bg {
    background-color: var(--right-side-operator-button-bg-color);
    box-shadow: inset 0px 0px 20px 0px #73493940;
    color: #fff;
}
