.button {
  width: 25%;
  height: 100%;
  border: 0;
  color: var(--color-text);
  font-size: 1rem;
  outline: none;
}

.button:hover {
  opacity: 0.95;
}

.button_top-operators {
  background-color: var(--color-btn-bg-1);
}

.button_numbers {
  background-color: var(--color-btn-bg-2);
}

.button_right-side-operators {
  background-color: var(--color-btn-bg-3);
  color: #fff;
}
