:root {
  --bg-color: #1f2022;
  --calc-bg-color: #fff;
  --calc-screen-bg-color: #262626;
  --top-operator-button-bg-color: #424242;
  --num-button-bg-color: #262626;
  --right-side-operator-button-bg-color: #f27200;
  --border-color: #ffffff26;
  --font-color: #fff;
}