.screen {
  position: relative;
  height: 125px;
  width: 100%;
  background-color: var(--calc-screen-bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.screen__preview-result {
  width: calc(100% - 60px);
  padding: 10px 10px 0 50px;
  border: 0;
  outline: none;
  text-align: right;
  font-size: 1rem;
  color: var(--font-color);
  opacity: 0.6;
}

.screen__result {
  width: calc(100% - 20px);
  padding: 0 10px;
  border: 0;
  outline: none;
  text-align: right;
  font-size: 1.4rem;
  background-color: inherit;
  color: var(--font-color);
}
