.screen {
    position: relative;
    height: 125px;
    width: 100%;
    background-color: var(--calc-screen-bg-color);
    font-family: Arial,Helvetica,sans-serif;
}

.screen span {
    position: absolute;
    top: 0;
    border: 0;
    outline: none;
    width: calc(100% - 20px);
    padding: 10px 10px 0 10px;
    text-align: right;
    font-size: 1rem;
    color: var(--font-color);
    opacity: 0.6;
}

.screen input {
    position: absolute;
    bottom: 0;
    border: 0;
    outline: none;
    width: calc(100% - 20px);
    padding: 0 10px;
    text-align: right;
    font-size: 1.4rem;
    background-color: inherit;
    color: var(--font-color);
}