.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--calc-bg-color);
  box-shadow: 0 0 20px 5px #00000024;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) {
  .buttons {
    width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .buttons {
    width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .buttons {
    width: 250px;
  }
}
