.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 500px;
  background-color: var(--calc-bg-color);
  box-shadow: 0 0 20px 5px #00000024;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  .calculator {
    width: 300px;
    height: 440px;
  }
}

@media screen and (max-width: 300px) {
  .calculator {
    width: 250px;
    height: 350px;
  }
}
