[data-theme='light'] {
  --color-body-bg: #f4f4f4;
  --color-calculator-bg: #000;
  --color-calculator-screen-bg: #fff;
  --color-btn-bg-1: #f8f8f8;
  --color-btn-bg-2: #fff;
  --color-btn-bg-3: #f27200;
  --color-text: #000;
}

[data-theme='dark'] {
  --color-body-bg: #1f2022;
  --color-calculator-bg: #fff;
  --color-calculator-screen-bg: #262626;
  --color-btn-bg-1: #424242;
  --color-btn-bg-2: #262626;
  --color-btn-bg-3: #f27200;
  --color-text: #fff;
}
