.tablo {
    position: relative;
    height: 150px;
    width: 100%;
    background-color: white;
}

.tablo input {
    position: absolute;
    bottom: 0;
    border: 0;
    outline: none;
    width: calc(100% - 20px);
    padding: 0 10px;
    text-align: right;
    font-size: 50px;
}