* {
  padding: 0;
  margin: 0;
}

:root {
  --color-body-bg: #f4f4f4;
  --color-calculator-bg: #000;
  --color-calculator-screen-bg: #fff;
  --color-btn-bg-1: #f8f8f8;
  --color-btn-bg-2: #fff;
  --color-btn-bg-3: #f27200;
  --color-text: #000;
  --font-size: 30px;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--color-body-bg);
}

@media screen and (max-width: 576px) {
  :root {
    --font-size: 27px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    --font-size: 25px;
  }
}
