* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #f4f4f4;
  --calc-bg-color: #000;
  --calc-screen-bg-color: #fff;
  --top-operator-button-bg-color: #f8f8f8;
  --num-button-bg-color: #fff;
  --right-side-operator-button-bg-color: #f27200;
  --font-color: #000;
  --font-size: 30px;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--bg-color);
}

@media screen and (max-width: 576px) {
  :root {
    --font-size: 27px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    --font-size: 25px;
  }
}
