:root {
  --bg-color: #f4f4f4;
  --calc-bg-color: #000;
  --calc-screen-bg-color: #fff;
  --top-operator-button-bg-color: #f8f8f8;
  --num-button-bg-color: #fff;
  --right-side-operator-button-bg-color:#f27200;
  --border-color: #9e9e9e33;
  --font-color: #000;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}
