* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #f4f4f4;
  --calc-bg-color: #000;
  --calc-screen-bg-color: #fff;
  --top-operator-button-bg-color: #f8f8f8;
  --num-button-bg-color: #fff;
  --right-side-operator-button-bg-color:#f27200;
  --font-color: #000;
  --font-size: 30px;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--bg-color);
}

.position_top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.position_top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position_bottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
